version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./mixtapes:/app/mixtapes
      - ./music:/app/music  # Monteer je muziek directory
      - ./covers:/app/covers
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1