site_name: Mixtape Society
site_url: https://mixtape-society.org/  # Update if you have a site
repo_url: https://github.com/mark-me/mixtape-society
use_directory_urls: false
theme:
  name: material
  favicon: images/favicon.png
  logo: images/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.code.select
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Configuration: configuration.md
  - Editor: editor.md
  - Sharing: sharing.md
  - Docker Deployment: docker.md
  - Development:
    - Intro: development/intro.md
    - Routes:
      - App: development/app.md
      - Browser: development/browse_mixtapes.md
      - Editor: development/editor.md
      - Playback: development/playback.md
    - Musiclib: development/musiclib.md

plugins:
  - search
  - offline
  - mkdocstrings:
      handlers:
        python:
          options:
            show_bases: true
            show_root_heading: true
            show_symbol_type_toc: true
            summary: true
  - panzoom:
      full_screen: true

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.extra:
        pymdownx.superfences:
          custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format