name: Deploy Docs

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: astral-sh/setup-uv@v3

      - name: Install dev dependencies
        run: uv sync --extra dev

      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force
